---
import Layout from '../layouts/Layout.astro';
import Sequence1TitleMachine from '../components/sequences/Sequence1TitleMachine';
import Sequence3WordConstellation from '../components/sequences/Sequence3WordConstellation';
import Sequence4HorizontalLine from '../components/sequences/Sequence4HorizontalLine';
---

<Layout title="cl1nical — The last tool you'll ever need">
	<main>
		<Sequence1TitleMachine client:only="react" />
		<Sequence3WordConstellation client:only="react" />
		<Sequence4HorizontalLine client:only="react" />
	</main>
</Layout>
