---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--bg-color: #0a0a0a;
		--accent-color: #7000ff;
		--text-color: #ffffff;
	}
	body {
		margin: 0;
		padding: 0;
		background-color: var(--bg-color);
		color: var(--text-color);
		font-family: sans-serif;
		overflow-x: hidden;
	}
</style>